<p id="notice"><%= notice %></p>
<div id="pins" class="transitions-enabled infinite-scroll clearfix">
    <% @pins.each do |pin| %>
        <div class="box">        
            <%= link_to image_tag(pin.image.url(:medium)), pin %><br/>
            <%= pin.description %><br/>
            <%= pin.user.name if pin.user %><br/>
            <% if pin.user==current_user %>
              <%= link_to 'Edit', edit_pin_path(pin), class:'btn btn-primary' %>
              <%= link_to 'Destroy', pin, method: :delete, class:'btn btn-primary', data: { confirm: 'Are you sure?' } %><br/><br/>
            <% end %>
        </div>
    <% end %>
</div>