<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">

      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to 'Tsarong', pins_path, class:"navbar-brand"%></li>
        <li><%= link_to 'Home', root_path %> </li>
        <li><%= link_to 'About App', home_about_path %></li>
        <% if user_signed_in? %>
        <%= javascript_include_tag :defaults %>
          <li><%= link_to 'Add Pin', new_pin_path %></li>
          <li><%= link_to 'List Pins', pins_path %></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete  %></li>
        <% else %>    
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Join', new_user_registration_path%></li>
          
        <% end %>
      </ul>
    </div>
  </div>
</nav>






